.title{
  display: flex;
  justify-content: center;
}
.card-container {
  justify-content: center;
    display: flex;
    height: 250px;
    padding-top: 50px;
    border-radius: 8px;
    gap: 10px;
  }
  #card{
    background-color: hsl(84, 70%, 75%);
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    gap: 10px;
  }